[user]
	name = Nicholas Kouris
	email = nicholausk@users.noreply.github.com
	editor = gvim
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	mylog = log --oneline --graph --all --decorate
        mylog50 = log --graph --all --decorate --pretty=format:'%C(auto) %h %cd %s' --date=short --max-count=50
