[user]
    email = nicholausk@users.noreply.github.com
    name = nicholausk

[core]
    editor = vim
    excludesfile = ~/.gitignore

[diff]
    colorMoved = default

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[pull]
        rebase = true
